@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Proxima-Nova', proxima-nova, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
}

.h1_blue { color: #020a47; }

.h1_pink { color: #d30971; }

h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.25em;
}

h1:focus { outline: none; }

a, .btn-link { color: #0071c1; }

.btn-primary {
    font-weight: 400;
    font-size: 16px;
    text-transform: none;
    display: inline-block;
    color: #020A47;
    padding: 3px 25px;
    border: 1px solid #020A47;
    border-radius: 30px;
    margin-right: 10px;
    background-color: transparent;
}

.btn-primary:focus, .btn-primary:active, .btn-primary:hover {
    color: #fff;
    background-color: #020a47;
    border-color: transparent;
    box-shadow: none;
}

.btn-influx {
    line-height: 2.4em;
    font-weight: 500;
    background: rgb(6, 111, 197);
    background: linear-gradient(90deg, #D30971 0%, #9B2AFF 100%);
    border: none;
    color: #fff !important;
    border-radius: 10px;
    text-decoration: none;
    padding: 0 1em;
}

.btn-influx:hover, .btn-influx:focus {
    background: linear-gradient(90deg, #9B2AFF 0%, #D30971 100%);
    border: none;
    color: #fff;
}

label {
    display: inline-block;
    min-width: 100px;
    font-weight: 600;
    color: #020A47;
}

input, select {
    border-radius: 10px !important;
    border: 2px solid #ddd !important;
    min-height: 40px;
    min-width: 250px;
    padding: 4px 30px;
    font-size: 16px;
    font-weight: 400;
    margin: 5px;
}

hr {
    height: 2px !important;
    margin-bottom: 50px;
    color: #dddddd;
    opacity: 1;
}

a { color: #d30971; }

a:hover { color: #5EE4E4; }

.page-top {
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #FAFAFA;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.custom-table {
    border-bottom-width: 0px !important;
    padding: 1rem 1rem !important;
}

.header-row {
    background: #020A47;
    color: white;
}

.odd-row { background: #FAFAFA; }

.content { padding-top: 1.1rem; }

.valid.modified:not([type=checkbox]) { outline: 1px solid #26b050; }

.invalid { outline: 1px solid red; }

.validation-message { color: red; }

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

.blazor-error-boundary::after { content: "An error has occurred." }