<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <section name="influx2" type="InfluxDB.Client.Configurations.Influx2, InfluxDB.Client" />
        <section name="influx2-without-url" type="InfluxDB.Client.Configurations.Influx2, InfluxDB.Client" />
    </configSections>
    <appSettings>
        <add key="SensorVersion" value="v1.00" />
    </appSettings>
    <influx2 url="http://localhost:9999"
             org="my-org"
             bucket="my-bucket"
             token="my-token"
             logLevel="BODY"
             timeout="10s">
        <tags>
            <tag name="id" value="132-987-655" />
            <tag name="customer" value="California Miner" />
            <tag name="hostname" value="${env.Hostname}" />
            <tag name="version" value="${SensorVersion}" />
        </tags>
    </influx2>
    <influx2-without-url org="my-org"
                         bucket="my-bucket"
                         token="my-token"
                         logLevel="BODY"
                         timeout="10s" />
</configuration>