# JetBrains Rider
.idea/
*.iml

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
coverage.opencover.xml
coverlet/
coveralls/

# Visual Studio 2015/2017 cache/options directory
.vs/

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

**/target/**



